@import "../../../style/App.module.scss";

.addEmployeeForm {
  border: 1px solid black;
  width: 70%;
  @include section-spacing;
  @include card;
  background-color: $primary-color;

  @include respond(xs) {
    width: 100%;
  }
  @include respond(sm) {
    width: 100%;
  }
  @include respond(md) {
    width: 100%;
  }
  @include respond(lg) {
    width: 80%;
  }

  .header {
    background-color: $primary-color;
    color: $secondary-text-color;
    padding: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .nameSection {
    display: flex;
    flex-wrap: wrap;
    background-color: $light-color;
    justify-content: center;
    padding: 5px;
    .firstName {
      padding-right: 5%;
    }
    .lastName {
      padding-left: 5%;
    }
    @include respond(xs) {
      .firstName,
      .lastName {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 2%;
      }
    }
  }

  .contactSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $light-color;
    padding: 5px;
    .email {
      padding-right: 5%;
    }
    .phoneNumber {
      padding-left: 5%;
    }
    @include respond(xs) {
      .email,
      .phoneNumber {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 2%;
      }
    }
  }

  .addressSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $light-color;
    padding: 5px;

    .addressLines {
      display: flex;
      flex-direction: column;
      padding-right: 5%;
      @include respond(xs) {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        .line1,
        .line2 {
          width: 100%;
          padding-bottom: 2%;
        }
      }
      .line1,
      .line2 {
        padding-bottom: 5%;
      }
    }
    .cityStateZip {
      display: flex;
      flex-direction: column;
      padding-left: 5%;
      @include respond(xs) {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        .city,
        .state,
        .zip {
          width: 100%;
          padding-bottom: 2%;
        }
      }
      .city,
      .state,
      .zip {
        padding-bottom: 5%;
      }
    }
  }

  .actionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: $light-color;
    padding: 8px;
    .submit {
      padding-left: 8px;
    }
  }
}
