@import "../../../style/App.module.scss";

.header {
  background-image: linear-gradient(to right, #ed2024 0, #ff8f1c 100%);
  min-height: 10%;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-text-color;
}
