@import "../../../style/App.module.scss";

.header {
  background-color: $primary-color;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $secondary-text-color;
}
