.app {
  height: 100%;
}

//app background color
$primary-color: linear-gradient(to right, #ed2024 0, #ff8f1c 100%);
$secondary-color: #323e48;
//text colors
$primary-text-color: black;
$secondary-text-color: white;
//alert colors
$success: rgb(56, 142, 60);
$error: rgb(211, 47, 47);
//border-radius
$border-radius: 4px;

/* Mixins */
@mixin section-spacing {
  margin-bottom: 5%;
  margin-top: 2%;
}

@mixin card {
  background-color: $secondary-text-color;
  border-radius: $border-radius;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  border: 1px $secondary-text-color solid;
  padding: 16px;
}
