.footer {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
