@import "../../../style/App.module.scss";

.footer {
  background-color: $primary-color;
  min-height: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-text-color;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
